/* CSS file: loginPage.css */

/* AnchorPane background */
.anchorpane-background {
    -fx-background-image: url("BackgroundBlackWawes.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

/* HBox with background image one */
.vbox-background-center {
    -fx-background-image: url("BackgroundBlackWawes.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/* HBox with background image two */
.vbox-background-right {
    -fx-background-image: url("backgroundCenterLogin.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/* Buttons */
.button {
    -fx-background-color: #e81b09; /* Light blue */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 18px; /* Font size */
    -fx-font-family: "Calibri Bold"; /* Font family */
    -fx-background-radius: 30; /* Rounded button */
    -fx-border-radius: 30;
    -fx-padding: 10px; /* Padding */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 1); /* Drop shadow for depth */
    -fx-border-color: #ffffff; /* White border */
    -fx-border-width: 2px; /* Thickness of the border */
    -fx-border-style: solid; /* Solid border style */

}

/* Button hover effect */
.button:hover {
    -fx-background-color: #f15e22; /* Darker blue on hover */
}

/* Labels */
.label {
    -fx-text-fill: white; /* White text */
    -fx-font-size: 20px; /* Default font size */
    -fx-font-family: "System Bold"; /* Font family */
}

/* Specific label for the title */
.label[fx-id="mainTitle"] {
    -fx-text-fill: white;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
