/* CSS file: loginPage.css */

/* AnchorPane background */
.anchorpane-background {
    -fx-background-image: url("BackgroundBlackWawes.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

/* HBox with background image one */
.vbox-background-center {
    -fx-background-image: url("BackgroundBlackWawes.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/* HBox with background image two */
.vbox-background-right {
    -fx-background-image: url("backgroundCenterLogin.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
